*{margin:0; padding:0; box-sizing: border-box;  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; word-wrap:break-word}
/* html, body{} */
body{  font-family: 'Quicksand',Arial, Helvetica, sans-serif; font-size:15px;     overflow-x: hidden;font-weight:500 !important; }
img{vertical-align:middle; max-width:100%;}
a img{border:none;}
a{text-decoration:none; color:#434343;}
ul{list-style:none}
:focus{outline:none}
p{ color:#282828; font-size:16px;     line-height: 1.4;    margin-top: 0;}

.wrapper{margin-left:auto; margin-right:auto; max-width:1200px; padding:0 20px; width:100%;}
.wrapper_outer{margin-left:auto; margin-right:auto; max-width:1380px; padding:0 20px; width:100%;}
.clr{clear:both; float:none; display:block;}
.clr:after, .afclr:after{clear:both; float:none; display:block; content:""}
input[type="submit"], button{-webkit-appearance:none}
select{word-wrap:normal}
::-webkit-input-placeholder {
    color:    #242424;
}
:-moz-placeholder {
    color:    #242424;
}
::-moz-placeholder {
    color:    #242424;
}
.h_new_la_inp::-webkit-input-placeholder {
    color:    #a1a1a1;
}
.h_new_la_inp:-moz-placeholder {
    color:    #a1a1a1;
}
.h_new_la_inp::-moz-placeholder {
    color:    #a1a1a1;
}

h1, h2, h3, h4, h5, h6 { text-transform: inherit;    font-weight: bold;}


.site-menu{float: left;   padding-top: 6px;}
.nav-menu li {  padding: 0 15px;   position: relative;   display: inline-block;}
.nav-menu li:nth-last-child{  padding-right: 0;}
.nav-menu > li > a {     position: relative; color: #404040; font-size: 17px; display: block; font-weight:500;padding: 5px 0px; transition: all 0.3s ease;  -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; }
.nav-menu > li > a:after{ position:absolute; content:""; display:inline-block; left:0; bottom:0; width:60%; height:2px; background:transparent;border-radius: 10px;}
.nav-menu .sub-menu { position: absolute; top: 100%;  left: 0;  width: 180px; transition: all 0.3s ease;  -webkit-transition: all 0.3s ease; z-index: 1000;  visibility: visible;  filter: alpha(opacity=0);  visibility: hidden;  opacity: 0;}
.nav-menu .sub-menu li {   float: none;   background: #fff;   border-bottom: 1px solid #f1eded;  border-left: none;   padding: 0;   display: block;   position: relative;}
.nav-menu .sub-menu li:first-child {  border-top: 4px solid #33b3a6}
.nav-menu .sub-menu a {   padding: 14px 50px 14px 15px;}
.nav-menu .sub-menu li a {  text-align: left;   font-size: 13px; display:block; font-weight: 500;}
.nav-menu .sub-menu ul {   position: absolute;   top: 0px;    left: 100%;  border-top: 0;   padding-left: 0px;   padding-top: 0;   filter: alpha(opacity=0);   width: 180px;   visibility: hidden;   opacity: 0; -webkit-transform:translate(40px,0)}
.nav-menu .sub-menu li:last-child {   border-bottom: none;}
.nav-menu > li:last-child {    padding-right: 0;}
.nav-menu li:hover > .sub-menu {   visibility: visible;   opacity: 1;   filter: alpha(opacity=100);}
.nav-menu .sub-menu li:hover ul {   visibility: visible;   opacity: 1;    filter: alpha(opacity=100); -webkit-transform:translate(0px,0)}
.nav-menu .sub-menu ul li:first-child {   border-top: none;}
.nav-menu .sub-menu ul li, .nav-menu .sub-menu ul li:first-child {    background: #f3f2f2;}
.cross_button  { display:none}
/* .menu_section { } */
.nav-menu > li:hover > a{  color: #33b3a6;  text-decoration: none; }
.nav-menu > li:hover > a:after{background:#33b3a6; }
.nav-menu .sub-menu li a:hover {  color: #fff;   background: #cacaca;text-decoration: none;}
.menu_expand{ display:none; color:#000; text-transform:uppercase; font-size:16px; line-height:1.2; transition:all 0.2s ease; -webkit-transition:all 0.2s ease; letter-spacing:3px;text-decoration:none; float:right; border-radius:5px; padding: 10px;}
/* .menu a{}
.menu_expand.active i{} */
.overlay {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -2; background-color: rgba(0, 0, 0, 0.8); bottom: 0; transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -ms-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; -webkit-transition: opacity 0.3s ease; opacity: 0;}
.overlay.active {z-index: 100; opacity: 1;}

.header_top_section{ background:#ff9933; padding:15px 0;}
/* .header_top_se_inner{} */
.h_top_se_left{ float:left;    padding-top: 5px;}
.h_top_se_left a{ font-size:15px; color:#fff; font-weight:500;}
.h_top_se_left a i{ margin-right:6px;}
.h_top_se_right{ float:right;}
/* .h_top_se_right_inner{} */
.h_top_language{     display: table-cell;   vertical-align: middle;  padding-right: 20px;}
.h_top_language_inner{ position:relative;padding-right: 0px;}
/* .h_top_language_inner:after{ } */
.h_top_login{    display: table-cell; vertical-align: middle;}
.h_top_login a{display: inline-block; background: #33b3a6; padding: 6px 23px;color: #fff; font-size: 14px; border-radius: 40px;font-weight: 500;transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;}
.h_top_login a:hover{background: #008b98;}


.header_section{padding: 15px 0;border-bottom: 1px solid #eaeaea;}
.logo{ float:left;    padding: 0;width: 20%;}
.top_right{ float:right; padding-top:20px;width:75%;}
.h_right_becum_btn{float: right;}
.h_right_becum_btn a{display: inline-block; background: #33b3a6; padding:12px 30px;color: #fff; font-size: 14px; border-radius: 40px;font-weight: 500; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;}
.h_right_becum_btn a i{ margin-right:5px;}
.h_right_becum_btn a:hover{ background: #008b98;}
.banner_section{ position:relative;}
.banner_section > img{ width:100%; height:auto;}
.banner_pos_section{ position: absolute; top:12%; left: 0;  width: 100%; text-align:center; }
.banner_se_inner{ margin: 0 auto;}
.banner_se_inner > h2{ color:#fff; font-size:55px; margin-bottom:15px;font-family: 'Helvetica';}
.banner_se_inner > p{ color:#fff; font-size:20px; line-height:1.3; font-family:'Lato';}

.banner_section .swiper-button-next, .banner_section .swiper-button-prev { top: 55%;width:54px; height:54px;}
.banner_section .swiper-slide > img{ width:100%; height:auto;}
.banner_se_inner > ul{ display:inline-block;margin: 0 -10px;padding: 40px 0;}
.banner_se_inner > ul li{ display:inline-block;color: #fff; font-size: 22px;  font-weight: 500; width: 49%; text-align: left; padding: 7px 10px; padding-left:30px; background:url(../images/banner_list_arrow.png) no-repeat; background-position:left;}
.banner_se_inner > ul li:nth-child(odd){width: 55%;}
.banner_se_inner > ul li:nth-child(even){width: 40%;}
.h_service_section{ padding:100px 0;}
.h_service_se_inner{ padding-top:20px;}
.h_serv_title{ text-align:center;}
.h_serv_title h2{ position:relative; font-size:40px; color:#7d7e7e;font-family: 'Helvetica'; text-align:center;    padding-bottom: 15px;    margin-bottom: 30px;    margin-top: 0;}
.h_serv_title h2:after{ content:""; position:absolute; bottom:0; left:0; right:0; margin:0 auto; background:url(../images/title_line.png) no-repeat; width:100%; height:10px;text-align: center;background-position: center;}
.h_service_ad_left{ float:left; width:15%;}
.h_service_se_block{float:left; width:70%;}
.h_service_se_bl_inner{    width: 80%;    padding-top: 20px; margin: 0 auto;}
.h_service_block{ float:left; width:25%; padding:0 10px; margin-bottom:50px;}
.h_service_block:nth-child(4n+1){ clear:both;}
.h_service_block_inner{ text-align:center;padding:15px 5px; box-shadow: 0px 0px 10px #0000001f; border-radius: 10px;}
.h_service_bl_img{ text-align:center;}
.h_service_bl_content{ text-align:center;}
.h_service_bl_content h3{ font-size:14px; font-weight:500;    margin-top: 10px;line-height: 1.3;}
.h_service_bl_content h3 a{ color:#7b7b7b;font-size:14px;}
.h_service_bl_content h3 a:hover{ text-decoration:none; color:#000;}
.h_service_ad_right{float:left; width:15%;}
.h_service_ad_left_inner{ text-align:center; background:#f8f0ed; padding-top:20px;}
.h_service_ad_left_inner p{ color:#7d7e7e; font-size:18px; line-height:1.4; margin-bottom:20px; font-weight:500;padding: 15px;}
.h_service_ad_left_inner img{ width:100%; height:auto}
.h_service_view_btn{ text-align:center; padding-top:10px;}
.h_service_view_btn a{ min-width:250px;}
.h_btn{display: inline-block; background: #33b3a6;  padding: 15px 30px; color: #fff; font-size: 18px; border-radius: 40px;font-weight: 500; transition: all 0.3s ease;-moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.h_btn:hover{background: #008b98; color:#fff; text-decoration:none;}
.h_featured_section{ padding-bottom:100px;}
/* .h_featured_se_inner{} */
.h_newslatter_section{ background:#33b3a6;}
/* .h_newslatter_se_inner{} */
.h_newsletter_left{padding-top: 15px; float:left; width:40%;}
.ah_newsletter_l_img{ display:table-cell; vertical-align:middle;}
.ah_newsletter_l_title{display:table-cell; vertical-align:middle; padding-left:30px;}
.ah_newsletter_l_title h3{ font-size:22px; color:#fff; font-weight:500;margin: 0;}
.h_newsletter_right{float: left; width: 60%;padding: 40px 0;}
.h_newsletter_ri_inner{ position:relative;}
.h_newsletter_ri_inner .h_new_la_inp{    padding: 16px 20px !important;  border: none !important; width: 100% !important; font-size: 16px !important; color: #a1a1a1; font-family: inherit !important; font-weight: 400; background:#fff url(../images/newsletter_mail_icon.png) no-repeat !important;    background-position: 15px !important; padding-left: 45px !important; padding-right:185px !important; height:52px !important;    border-radius: 0px !important;}

.h_new_la_sbmt{    background: #ff982a; font-size: 18px; color: #fff; font-family: inherit;  font-weight: 500;  border: none;  padding: 14px 40px; position: absolute;  right: 0;  top: 0;height:52px;box-shadow: none; cursor:pointer; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.h_new_la_sbmt:hover{background: #d26d02; }
.h_latest_blog_section{ padding:100px 0;}
.h_latest_blog_se_inner{padding-top: 30px; position:relative;}
.h_l_blog_block{ padding:8px 10px;}
.h_l_blog_bl_inner{box-shadow: 0px 0px 10px #0000001f;}
/* .h_l_blog_bl_img{} */
.h_l_blog_bl_content{ padding:20px;}
.h_l_blog_bl_content h3{ margin-bottom:10px; margin-top:5px; text-transform:uppercase;}
.h_l_blog_bl_content h3 a{ font-size:18px; color:#454544; display:inline-block;}
.h_l_blog_bl_content p{ color:#888786; font-size:15px; line-height:1.3;    font-weight: normal;}
.h_blog_author{ padding-bottom:10px;}
.h_blog_author span{ color:#888786; font-size:13px; display:inline-block; margin-right:10px;}
.h_blog_author i{ margin-right:5px; color:#414143;}
.h_l_blog_bl_img img{ width:100%; height:auto;}

.swiper_blog_next, .swiper_blog_prev{  top: auto; bottom: 0;background-color: #33b3a6;  background-size: 11px;width: 32px; border-radius: 5px;height: 35px; margin-top: 0;}
.swiper_blog_next{right: 46.5%;}
.swiper_blog_prev{left: 46.5%;}
.swiper_blog { padding-bottom:70px;}
.h_testmonial_section{ background:url(../images/testmonial_bg.jpg) no-repeat; background-size:cover; padding:60px 0;}
/* .h_testmonial_se_slider{} */
.h_testmon_left{ float:left; width:20%;}
.h_testmon_left_img{    width: 150px; height: 150px; margin: 0 auto; border-radius: 200px; margin-bottom:15px; text-align:center;}
.h_testmon_left_img img { border-radius:200%; }
.h_testmon_left_contnt{ text-align:center;}
.h_testmon_left_contnt h3{ color:#343434; font-size:14px; font-weight:500; margin:0; }
.h_testmon_left_contnt h4{color:#343434; font-size:14px; font-weight:500; margin:0;margin-bottom:5px;}
.h_testmon_right{ float:right; width:78%;    padding-top: 20px;}
.h_testmon_right_inner{padding: 35px;  background: #fff;  border: 1px solid #cecece; position:relative;    padding-left: 100px;}
.h_testml_quot{    position: absolute; top: 18px; left: 40px;}
.h_testmon_right_inner p{ font-size:14px; color:#6d6d6d; line-height:1.6; margin:0;    font-weight: normal;}
/* .swipper_testmonial{} */
.h_testmnl_arrow{    position: absolute; bottom: 33px;left: 30%; background: #fff; z-index: 10; padding: 0 15px;}
.swiper_testmnl_next, .swiper_testmnl_prev{ position:static;    bottom: 0; top: auto;margin-top: 0;    width:30px;  height: 25px;}
.swiper_testmnl_next{ float:right; background:url(../images/testml_right_arrow.png) no-repeat;background-position: top center;}
.swiper_testmnl_prev{    float: left;background:url(../images/testml_left_arrow.png) no-repeat;background-position: top center;}
.f_footer_section{ background:#ecefef; padding:30px 0; overflow:hidden;}
/* .f_footer_se_inner{} */
.f_footer_left{ float:left; width:55%; padding-right:15px;}
/* .f_footer_left_iner{} */
.f_footer_logo{    padding-bottom:30px;}
/* .f_footer_l_content{} */
.f_footer_l_content p{ color:#343434; font-size:15px; line-height:1.4;    font-weight: normal;}
.f_footer_social{ padding:30px 0;}
.f_footer_social h3{display:table-cell; vertical-align:middle; padding-right:10px; color:#343434; font-size:18px;}
.f_footer_s_media{ display:table-cell; vertical-align:middle;}
.f_footer_s_media a{    display: inline-block;  margin: 0 3px; background: #33b3a6; color: #fff; padding:4px; width: 30px; height: 30px;  text-align: center; border-radius: 50px; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.f_footer_s_media a:hover{ background: #0088a0;}
.f_footer_menu{background: #acacac;  padding: 10px; position:relative;}
.f_footer_menu ul{ margin:0;}
.f_footer_menu ul li{ display:inline-block;}
.f_footer_menu ul li a{    display: inline-block; font-size: 13px; color: #1d1d1d;    padding: 0 10px;  border-right: 1px solid #777777;transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease; -webkit-transition:all 0.3s ease;    font-weight: normal;}
.f_footer_menu ul li a:hover{ color:#fff; }
.f_footer_menu ul li:last-child a{ border-right:none; }
.f_footer_menu ul li:first-child a{ padding-left:0; }
.f_footer_abslt{    position: absolute; width: 1000px; height: 100%; background: #acacac;right: 100%; top: 0;}
.f_footer_right{ float:right; width:42%;}
/* .f_footer_right_inner{} */
.f_footer_right_inner h2{ color:#7d7e7a; font-size:25px; position:relative;    display: inline-block; clear: both; padding-bottom:10px; margin-bottom:20px;}
.f_footer_right_inner h2:after{ position:absolute; content:""; display:inline-block; bottom:0; left:0; width:50%; height:2px; border-radius:5px; background:#7d7e7a;}
/* .f_footer_service_menu{} */
/* .f_footer_service_menu ul{} */
.f_footer_service_menu ul li{ background:url(../images/footer_list_arrow.png) no-repeat; background-position:left center; padding:5px 0;padding-left: 20px;float: left; width: 49%;}
.f_footer_service_menu ul li:nth-child(2n+1){ clear:both;}
.f_footer_service_menu ul li a{ display:inline-block; font-size:14px; color:#5c5c5c;transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease; -webkit-transition:all 0.3s ease;    font-weight: normal;}
.f_footer_service_menu ul li a:hover{ color:#000;margin-left: 4px;}
.f_copy_section{ padding:20px 0; background:#33b3a6;}
.f_copy_inner{ text-align:center;}
.f_copy_inner p{ color:#fff; font-size:14px;    margin: 0;font-weight: 300;}
.h_banner_search_bar{ padding-top:30px;}
/* .ban_ser_inp{} */

.sng_signup_main{ padding-top:50px; padding-bottom:140px; background:url(../images/sign_up_bg.jpg) no-repeat; background-size:cover;}
.sng_signup_main_inner{   border-bottom: 3px solid #f07a12;box-shadow: 1px 1px 10px #0000002b; position:relative;}
.sng_signup_title{ text-align:center; padding-bottom:30px; }
.sng_signup_title h2{ font-size:42px; color:#4a4a4a; text-transform:uppercase; margin-bottom:30px;}
.sn_signup_left{ float:left; width:50%;}
/* .sn_signup_ser_provider{} */
/* .sn_signup_customer{} */
.sn_signup_le_inner{padding: 70px 160px 80px 60px;}
.sn_signup_le_inner h3{ font-size:40px; color:#fff; margin-bottom:40px;}
.sn_signup_le_inner p{ font-size:18px; color:#fff; margin-bottom:40px; font-weight:normal;}
.sn_signup_ser_provider .sn_signup_le_inner{    background: #01b4c4;}
.sng_btn{display: inline-block;padding: 10px 60px; font-weight: 500; text-transform: uppercase; font-size: 20px;  color: #01b4c4; border-radius: 50px; transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; -o-transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.sng_btn:hover{ text-decoration:none;}
.sng_btn_white{ background: #fff;}
.sng_btn_white:hover{background: #eaeaea;}
.sn_signup_customer{ background:#fff; text-align:right;}
.sn_signup_customer .sn_signup_le_inner h3{ color:#4a4a4a;}
.sn_signup_customer .sn_signup_le_inner p{ color:#4a4a4a;}
.sng_btn_green{ color:#fff; background:#01b4c4; text-align:center;}
.sng_btn_green:hover{ color:#fff;background: #038c98;}
.sn_signup_customer .sn_signup_le_inner {  padding: 70px 60px 80px 160px;}
.sng_sign_logo_middle{ position:absolute; top:50%; left:50%; margin-top:-50px; margin-left:-44px;}
.lgn_login_section{ padding:60px 0;}
.lgn_login_se_inner{ width:60%; margin:0 auto;}
.lgn_login_title{ padding-bottom:20px;}
.lgn_login_title h2{ color:#0d54b3; font-size:24px; text-transform:uppercase;}
.lgn_login_section .loginform_page .col-md-12{ padding:0;}
.input-group .form-control, .input-group-addon, .input-group-btn {  display: table-cell;}

/* ................  wp css ...................*/

.page_wraper_new{ background:#fff;}
.loginform_page .input-group .input-group-addon{border: none; font-size: 20px;background: #f6f5f5; box-shadow: 1px 1px 4px #00000021;}
.loginform_page .input-group .form-control{border: none;  background: #f6f5f5; padding: 12px 10px; height: auto; font-size: 16px; font-weight: 500; box-shadow: 3px 1px 4px #00000021;}
.loginform_page .form-group input[type=submit].btn-block{width: auto; margin: 0 auto;font-size: 22px; font-weight: 500; font-family: inherit; background: #33b3a6; height: auto; padding: 12px 50px;  min-width: 200px; border-radius: 50px; margin-top: 30px;}
.loginform_page a{font-weight: 500; font-family: inherit; color: #323232;font-size: 16px;}
.wp-social-login-connect-with {font-size: 22px; font-weight: 500; font-family: inherit; color: #323232; padding-top: 30px;    padding-bottom: 10px;}
.wp-social-login-provider-list .wp-social-login-provider {  padding: 25px 15px;    border-radius: 10px; margin-bottom: 20px;}
.wp-social-login-provider-list [class*="wp-social-login-provider-"]:before {  font-size: 21px;}
.wp-social-login-provider-list [class*="wp-social-login-provider-"]:after {  font-size: 20px;  font-weight: 500;}
.loginform_page .form-group { margin-bottom: 25px;}
.btn-primary {background-color: #33b3a6; border-color: #33b3a6; font-weight: 500;  background: #33b3a6;}

.btn-primary:hover {  background: #008b98;}
.bv-form .bv-icon-input-group { top: 7px;}

/* .lgn_provider_s_section{} */
.lgn_provider_s_section .tabbable .nav-tabs li.active a{color: #0d54b3; font-size: 24px; font-family: inherit;}
.lgn_provider_s_section .nav-tabs { border-bottom: none;}
.lgn_provider_s_section .nav-tabs>li.active>a, .lgn_provider_s_section .nav-tabs>li.active>a:focus, .lgn_provider_s_section .nav-tabs>li.active>a:hover{ border:none;}
.lgn_provider_s_section .tabbable .tab-pane { padding: 20px;}
.lgn_provider_s_section .tabbable .tab-content{ border:none;}
.lgn_provider_s_section .form-control{border: none;  background: #f6f5f5;  padding: 12px 15px; height: auto; font-size: 16px; font-weight: 500; box-shadow: 3px 1px 4px #00000021;}
.lgn_provider_s_section .input-group .input-group-addon{border: none; font-size: 20px;background: #f6f5f5; box-shadow: 1px 1px 4px #00000021;}
.lgn_provider_s_section .input-group .form-control{border: none;  background: #f6f5f5; padding: 12px 5px; height: auto; font-size: 16px; font-weight: 500; box-shadow: 3px 1px 4px #00000021;}
.lgn_provider_s_section .col-md-12 input[type=submit].btn-primary{width: auto; margin: 0 auto;font-size: 22px; font-weight: 500; font-family: inherit; background: #33b3a6; height: auto; padding: 12px 50px;  min-width: 200px; border-radius: 50px; margin-top: 30px;    margin-bottom: 10px;}
.provd_label_heading{color: #001926;font-size: 16px; display: block; padding-bottom: 5px;}
.lgn_provider_s_section .form-group { margin-bottom: 30px;}
.lgn_provider_s_section .form-control.cont_select{padding: 0;}
.lgn_provider_s_section .form-control.cont_select .dropdown-toggle{background: #f6f5f5;background-color: #f6f5f5 !important;}
.lgn_provider_s_section a{font-weight: 500; font-family: inherit; color: #323232; font-size: 16px;}
.payment_section_block_pay{ margin:0 !important;}
/* .payment_select_plan_hide{} */
.lgn_provider_se_inner{ width: 70%;  margin: 0 auto;}



/* payment plan css */

.chicklet-list li {  padding: 0 5px;     width: 33.33%;  float: left; margin-bottom: 10px;  position: relative;}
.chicklet-list input { font-size: 1.4em;  line-height: 1;padding: 0.55em 0.55em 0.55em 0.8em;}
.chicklet-list input[type=radio] {  opacity: 0; position: absolute; top: 0;  left: 0;}
.chicklet-list label { display: block;  font-size: 23px;font-weight: normal; border: 1px solid #e8e8e8;box-shadow: 1px 1px 10px #0000001f; color: #000; padding:20px; text-align: center;  border-radius: 5px; cursor: pointer;  -webkit-transition: all 0.1s ease-out; transition: all 0.1s ease-out;}
.chicklet-list :checked+label {  background: #33b3a6; color: #f7f7f7; text-shadow: none;}
.chicklet-list :checked+label .p_plan_block_inner h3{ color:#FFFFFF; }
.chicklet-list :checked+label .p_plan_price{ color:#fff; }
.chicklet-list :checked+label .p_plan_currency{ color:#fff;}
.chicklet-list :checked+label .p_plan_cent{color:#fff; }
.chicklet-list :checked+label .p_plan_month{color:#fff; }
.chicklet-list :checked+label .p_plan_block_inner a{    background: #ffffff; color: #33b3a6;}

.chicklet-list li span {  position: absolute;  left: -30px; top: 9px; font-size: 16px; color: #303030;}
.chicklet-list input[type="text"] { height: 40px;}

/* .provider_payment_section {} */
.provider_payment_section ul{ margin:0;}
/* .p_plan_block_inner {} */
.p_plan_block_inner h3{ color:#33b3a6; font-size:24px;margin: 0;}
.p_plan_block_inner a{    font-size: 11px; font-weight: 600; background: #33b3a6; color: #fff;  display: inline-block; padding: 8px 15px; border-radius: 20px;}
.p_plan_price {    font-size: 26px; font-weight: 600; color: #383838;padding: 10px 0;}
.p_plan_currency{ display:inline-block;color:#383838; font-size:14px;}
.p_plan_cent{ display:inline-block;color:#383838; font-size:14px;}
.p_plan_month{display:inline-block;color:#6a6a6a; font-size:12px;}
.p_plan_btn{ padding-bottom:10px;}

/* payment plan css end */
#my-profile .sf-select-box > .dropdown-toggle { height: 34px;}
.page-logo { background-color: #1e5c62;}
#sidebar-admin-wraper{    background: #33b3a6;}
.sf-select-box > .dropdown-toggle { height: auto;}
.tab-pane .sorting_asc .form-inline .checkbox input[type=checkbox]{position: absolute;}
/* .sf-submit-btns{} */
.form-inline .checkbox input[type="checkbox"], .form-inline .radio input[type="radio"] { position: absolute;  left: 0;  bottom: 0;}
.lgn_login_section .sf-select-box > .dropdown-toggle { height: 46px;}
.rwmb-input.ui-sortable .show-embed{    padding: 6px 12px;}
.input_fields_wrap .form-control{    border: none; background: #f6f5f5; padding: 12px 10px; height: auto; font-size: 16px;  font-weight: normal; box-shadow: 3px 1px 4px #00000021;}
.input_fields_wrap .sf-select-box.form-control{padding:0px; }
.input_fields_wrap .sf-select-box.form-control .btn.dropdown-toggle{border: none !important;  background: #f6f5f5 !important;  padding: 12px 10px; height: auto; font-size: 16px; font-weight: normal;}
.job-manager-form input[type="submit"], .job-manager-form fieldset .account-sign-in .button, .single_job_listing .application .application_button{background-color: #33b3a6; border-color: #33b3a6;font-weight: 500;  background: #33b3a6;}
.job-manager-form input[type="submit"]:hover, .job-manager-form fieldset .account-sign-in .button:hover, .single_job_listing .application .application_button:hover{background: #008b98;}
.banner-inner-row.provider-banner-off{background-image: url(../images/service_provider_ban_img.jpg) !important;  background-repeat: repeat;background-size: cover;}

.profile_bio_top_section{ position:relative;margin-top: -130px; z-index: 10;margin-bottom: 20px;}
/* .profile_bio_top_se_inner{} */
.profile_pr_img{ float:left;    width: 25%;}
.profile_pr_img_inner{    padding: 12px; background: #ffffff2e;box-shadow: 0px 5px 10px #00000024; margin-bottom:10px;}
.porfl_rating_provider{ text-align:center;}
.profile_pr_img_inner img{ width:100%; height:auto;}
.porfl_rating_provider .sf-show-rating .rating-container{    font-size: 16px;}
.profile_right_pr_content{ float:right; width:70%;}
/* .profile_ri_pr_title{} */
.profile_ri_pr_title h2{ font-size:40px; color:#fff; text-transform:uppercase; margin:0; margin-bottom:10px; margin-top:15px;}
.profile_ri_pr_title p{ font-size:16px; color:#fff; font-weight:bold; margin-bottom:10px;min-height: 70px;}
.prf_pr_category{ float:left; width:65%;}
.prf_pr_category .sf-provider-cat span{    color: #161616;  font-size: 16px;font-weight: 500;}
.prf_pr_category .sf-provider-cat a{font-size: 12px;color: #fff;  background: #ff650d; padding: 5px 7px;  text-decoration: none;font-weight: bold; display: inline-block; margin:2px 5px;}
/* .prf_pr_cat_sl_share{} */
/* .prf_pr_cat_sl_share a{} */
.prof_pr_social_med{ float:right; width:30%; text-align:right;}
.prof_pr_social_med .provider-social .social-bx li{ padding:0; }
.prof_pr_social_med .provider-social .social-bx li a{ text-align:center;border: none;background: #4460a1; color: #fff;text-decoration: none; height: 30px; width: 30px; padding: 7px; border-radius: 40px; font-size: 15px;display: inline-block;}
.prof_pr_social_med .provider-social .social-bx li a.fa-twitter{background: #55acee;}
.prof_pr_social_med .provider-social .social-bx li a.fa-linkedin{background: #0177b5;}
.prof_pr_social_med .provider-social .social-bx li a.fa-digg{background: #286091;}
.prof_pr_social_med .provider-social .social-bx li a.fa-google-plus{background: #dc4a38;}
.prof_pr_social_med .provider-social .social-bx li a.fa-pinterest{background: #bd081c;}
.prof_pr_social_med .provider-social .social-bx li a.fa-instagram{background: #527fa4;}
/* .prof_pr_top_tab_bar{} */
.prof_pr_bio_content{padding: 30px 0;}
.prof_pr_top_tab_bar ul{ margin:0;}
.prof_pr_top_tab_bar li{padding: 0; margin: 0; float: left; width:20%;}
.prof_pr_top_tab_bar li a{background: #ff982a; color: #fff; display: inline-block; padding: 13px 20px; width:100%;   font-size: 18px;}
.prof_pr_top_tab_bar li a:hover{ text-decoration:none; background:#33b3a6;}
.prof_pr_top_tab_bar li a.active{ background:#33b3a6;}
.forgotpasswordform_dx .input-group-addon{    border: none; font-size: 20px; background: #f6f5f5; box-shadow: 1px 1px 4px #00000021;}
.forgotpasswordform_dx .form-control{border: none; background: #f6f5f5; padding: 12px 10px;  height: auto; font-size: 16px; font-weight: normal; box-shadow: 3px 1px 4px #00000021;}
.forgotpasswordform_dx .btn.btn-primary{width: auto;  margin: 0 auto; font-size: 22px; font-weight: 500; font-family: inherit; background: #33b3a6;  height: auto; padding: 12px 50px;  min-width: 200px; border-radius: 50px; margin-top: 30px;}
.pr_title_border{padding: 5px 30px; background: #f8f8f8; border: 1px solid #acacac;}
ul.provider-info li{    border-top: 2px solid #c5c5c5;  border-right: 2px solid #c5c5c5;}
ul.provider-info li:first-child, ul.provider-info li:nth-child(2){ border-top:none;}
ul.provider-info li span { padding-left: 30px;}
ul.provider-info li { padding: 15px 10px 15px 20px;}
.profile_pr_services_list{    margin: 30px 0; padding: 20px;  background: #f7f7f7;}
.profile_pr_services_list .sf-service-group-title{    background: #fff; box-shadow: none; border-bottom: 1px solid #bfbfbf;  border-radius: 0; font-weight: bold; font-size: 16px; padding: 10px 20px;}
.sf-services-area .sf-panel { background-color: #ffffff; padding: 15px 20px;  border-bottom: 1px solid #bfbfbf;}
.sf-services-area .sf-servicemeta span {  font-weight: bold; font-size: 16px;  color: #616161;}
.sliderLarge .sf-thum-bx img{    border-radius: 0;  -webkit-border-radius: 0;}
.prof_pr_document{    background: #f7f7f7; padding: 20px;}
.prof_pr_document .tabbable .tab-content { border-width: 0;}
/* .provider_pr_review_section{} */
/* .provider_pr_r_title{} */
.provider_pr_r_title h4{ color:#33b3a6; font-size:36px;}
.provider_pr_review_section .tabbable .tab-content { border-width: 0px 0px 0px; border-color: #fbfbfb;}
.provider_pr_review_section .alert-warning { color: #91420d; font-weight: bold;}
.provider_pr_review_section .tabbable .tab-pane {  padding: 0;}
.provider_right_pr_title{ background:#33b3a6;padding: 5px 15px;}
.provider_right_pr_title h4{ color:#fff; font-size:22px; text-transform: uppercase;}
.prov_ri_form_section{background: #f7f7f7;  padding: 20px; border-radius: 0; border: 1px solid #bfbfbf; border-top: none;}
.prov_ri_form_section .btn.btn-primary{width: auto;  margin: 0 auto; font-size: 22px; font-weight: 500; font-family: inherit; background: #33b3a6; height: auto; padding: 15px 50px; min-width: 200px;  border-radius: 50px; margin-top: 20px; display:block;text-align: center;}
/* .prov_ri_form_section .form-group{} */
.prov_ri_map_section{border-radius: 0; border: 1px solid #bfbfbf; border-top: none;}
.prov_ri_map_section .provider-map{border-radius: 0; }
.recent-services-bx ul li{    border-bottom: 1px solid #bfbfbf;}
.prov_ri_related_section {background: #f7f7f7; padding: 30px 20px; border-radius: 0; border: 1px solid #bfbfbf; border-top: none;}
.recent-services-bx .post-title{font-size: 16px; color: #151515; font-weight: bold;}
.recent-services-bx p{    color: #616161; font-size: 14px;}
.admin-nav ul li .sub-menu > li a { padding-left: 40px;}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label { font-weight: bold;}
.has-feedback label~.form-control-feedback { top: 38px;}
.payment_section_block_pay .sf-radio-checkbox input[type=radio] + label:before{top: 28px;}
.payment_section_block_pay .sf-radio-checkbox img{    width: 250px;}
.prov_ri_form_section .form-control {-webkit-box-shadow: none;  box-shadow: none; border: none; border-radius: 0; padding: 0px 10px; height: auto; font-size: 16px; border-bottom: 1px solid #bfbfbf; background: #f7f7f7;}
.prov_ri_form_section .form-control#captcha_code{ padding: 10px 10px;}
.prov_ri_form_section .form-group .input-group .input-group-addon{background: #f7f7f7;  border-top: none; border-left: none;}
.book-now .form-step-bx h6{ font-size:16px;}
.cont_select span.filter-option{    font-weight: 500; font-family: inherit; font-size: 16px;}
.btn[disabled]{opacity: .25;}
.h_featured_section .section-full{ background:none !important; background-image:none;}
.h_featured_section .sf-overlay-main{ display:none;}
#my-profile .panel-default .has-feedback label~.form-control-feedback { top: 26px;}
.btn-advace-wrap .btn-advace-search::after, .sf-featured-top, .sf-latest-news .post-thum, .sf-featured-media { border-radius: 0;-webkit-border-radius: 0;}
.sf-featured-bot { border-radius: 0;-webkit-border-radius: 0;}
.h_featured_section .sf-featured-comapny{    font-size: 18px; color: #454544; display: inline-block;    margin-bottom: 5px;}
.h_featured_section .owl-item{ padding:8px;}
.h_featured_section .sf-featured-girds{box-shadow: 0px 0px 10px #0000001f;}
.h_featured_section .sf-featured-bot{ border:none;}
.h_featured_section .section-head{ display:none;}
.sf-featured-sign {  background-color: #33b3a6;}
.h_featured_section a:focus, .h_featured_section a:hover { color: #fff; text-decoration: none;}
.h_featured_section .sf-categories-label a{padding: 2px 0; display: inline-block;}
.h_featured_section .section-content {  margin-top: 0;}
.h_featured_section .section-full:last-child {  margin-bottom: 0;}
.h_featured_section .section-full { padding: 0px 0;}
.form-step-bx .has-feedback label~.form-control-feedback { top: 30px;}
.modal-dialog .bv-form .bv-icon-input-group { top: 0px;}

.btn-advace-wrap{ display:none;}
.h_banner_search_block .sf-find-bar{ position:static;}
.h_banner_search_block .sf-search-result .search-form {  padding: 0; border-radius: 0;}
.sf-search-result .search-form { padding: 0;}
.sf-find-bar-inr.pos-v-bottom{    bottom: 80px;}
.search-form .form-control{    font-size: 16px; color: #7d7e7e; font-weight:500;    height: 55px; padding: 15px 15px;}
.sf-search-result [class*=search-col-]:first-child .btn, .sf-search-result [class*=search-col-]:first-child .form-control, .tabbable.tabs-left .nav-tabs li a { border-radius: 0; -webkit-border-radius: 0;}
.search-form .bootstrap-select .dropdown-toggle{  font-size: 16px; color: #7d7e7e; font-weight:500;    height: 55px; padding: 15px 15px;border-radius: 0;}
.search-form .sf-search-result .bootstrap-select.form-control {  height: 55px;}
.sf-search-result .btn-search-result{    background: #ff9933; border-radius: 0; height: 55px; padding: 15px 15px;  font-size: 16px; font-weight: 500; text-transform: inherit;}
.search-form .btn-primary:active:focus, .search-form .btn-primary:active:hover{background-color: #fb8712; border-color: #fb8712;}
.sf-search-result [class*=search-col-]:last-child .btn{    border-radius: 0;-webkit-border-radius: 0;}
.search-form .caret{ background:url(../images/select_drop_arrow.png) no-repeat; background-position:center;border-top: 0px dashed; border-top: 0px solid\9;  border-right: 0px solid transparent;margin-top: -5px;    width: 14px;  height: 9px; border-left: 0px solid transparent;}
.search-form .dropup .caret, .search-form .navbar-fixed-bottom .dropdown .caret { border-bottom: 0px dashed; border-bottom: 0px solid\9;}
.sf-search-result .bootstrap-select.form-control {  height: 55px;}
.search-form .bootstrap-select.btn-group .dropdown-menu li a span.text{ font-weight:500;}
.s_search_country{width: 25%; float: left;  border-right: 1px solid #e4e8eb;}
.sf-find-bar .search-form:before, .sf-find-bar-inr .search-form:before{background: transparent;}
.search-form .bootstrap-select.btn-group .dropdown-toggle .caret{    margin-top: -5px;}
.s_search_keyword .form-control.sf-form-control{ background:#fff url(../images/keyword_search_icon.png) no-repeat; background-position:8px center;    padding-left: 35px;}
.h_banner_search_bl_mobile{ display:none;}
.profile_pr_img_inner{ position:relative;}
.breadcrumb-row { background: #ffffff;padding: 30px 0;}
.breadcrumb-row ul li a { color: #7b7b7b; font-weight: 500; text-decoration: none; font-size: 16px;}
.breadcrumb-row ul li{color: #7b7b7b; font-weight: 500; text-decoration: none; font-size: 16px;}
.breadcrumb-row ul li:last-child{ color:#01b4c4;}
.sf-category-des h2.sf-title{color: #3d3d3d; font-size: 36px; text-transform: uppercase;}
.sf-category-des .sf-cat-text{    font-size: 18px; color: #939393;}
.provider-sub-category .overlay-bg .service-plus{    top: auto; bottom: 50px;}
.provider-sub-category .overlay-bg .service-name{bottom: 10px;    font-weight: 500; font-size:18px; text-transform:uppercase;}
.title-section .result-title{    text-transform: uppercase;    margin: 5px 0;}
.title-section .result-title strong {  color: #01b4c4;}
.title-section { margin-top: 30px; border-top: none; border-bottom: none;}
.sf-search-sortby li .bootstrap-select .dropdown-toggle{    padding: 11px;}
.sf-search-grid-option li .btn {  padding: 10px 10px;}
.sf-search-sortby .bootstrap-select.btn-group .dropdown-menu.inner li{ width:100%;}
.search-form .category-select ul li img {  width: 25px; height: 25px;}
.sf-search-sortby{ vertical-align:top;}
.sf-search-any-option li .btn-primary {  padding: 10px 20px;}
.sf-search-any-option li .bootstrap-select .dropdown-toggle {  padding: 10px; padding-left: 10px; padding-right: 20px;}
.sf-search-any-option .sf-filterby-date .form-control{    height: auto;  padding: 9px 10px;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {background-color: #33b3a6; border-color: #33b3a6;}
.h_top_language_inner .switcher .option{ position:absolute;}
.page-content .section-content{    margin-top: 0px;}
.popup_for_not_signup{ text-align:center;}
.popup_for_not_signup h3{    margin: 0; padding-bottom: 30px; line-height: 1.2; font-size: 20px;}
.popup_for_not_signup a{display: inline-block; background: #33b3a6; padding: 13px 35px; color: #fff;  font-size: 18px;  border-radius: 40px; font-weight: 500;  transition: all 0.3s ease;  -moz-transition: all 0.3s ease;  -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; }
a:focus { outline: none; outline-offset: 0;}
.sf-find-bar1{ min-height:300px;}
.m_message_btn{ text-align:center;}
.m_message_btn .aon-messenger-submit-btn{display: inline-block; background: #33b3a6;  padding: 8px 28px; color: #fff;  font-size: 16px; border-radius: 40px; font-weight: 500;transition: all 0.3s ease; -moz-transition: all 0.3s ease;  -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; box-shadow: none; height: auto; border-bottom:none;}
.aon-messenger-wraper .aon-messenger-header-close{ display:none !important;}
.popup_sign_up_logo{ text-align:center; margin-bottom:30px;}
.star-rating .caption span {  width: auto;}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{    min-width: 90px;}
.aon-messenger-reply-textarea .aon-messenger-textarea{    font-size: 16px; font-weight: normal;  color: #000;}
.btn, .dropdown-menu>li>a{ font-weight:500;}

.new_date.dow-clickable{ background:#fff !important;}
.dow-clickable{ background:#f9f9f9 !important;}
 .zabuto_calendar .dow-clickable.selected{    background: #bce1f7 !important;}
 .current_date.dow-clickable{ background:#f1f1f1 !important;}
.iti{ width:100%;}
.iti__country-list{    z-index: 20; }
div.dataTables_wrapper div.dataTables_length label { white-space: unset;}

/* how-it-works */
.blue_bg_heading{ background:#33b3a6; text-align:center; padding:15px; color:#fff; font-size:24px; text-transform:uppercase; font-weight:bold;}
.blue_bg_heading img{padding-right:20px;}
.process_type_one{padding:60px 0; border-bottom:1px solid #dad8d8}
.process_img_right{float:right; width:40%; text-align:center}
.process_left_text{float:left; width:55%;}
.cprocess_no{float:left; padding-right:50px;}
.cprocess_text{overflow:hidden;}
.cprocess_text h2{margin:0 0 30px; color:#33b3a6; font-size:30px;font-weight:bold; text-transform:uppercase}
.cprocess_text p{ color:#515151; font-size:18px; line-height:1.8; font-weight:bold;}
.rightside_arrow, .leftside_arrow{position:relative;}
.rightside_arrow span{position: absolute; bottom: -30px;width: 90px; background: #f6fbfd; text-align: center; right: 16%;}
.process_type_one:last-child{border:none;}
.process_img_left{float:left; width:40%; text-align:center}
.process_right_text{float:right; width:55%;}
.leftside_arrow span{position: absolute; bottom: -30px;width: 90px; background: #fff; text-align: center; left: 16%;}
.employer_section{ background:#f6fbfd; padding:60px 0;}
.employer_section .cprocess_text h2{color:#ff9933;}
.employer_section .process_type_one:last-child{ padding-bottom:0;}

.blue_bg_heading_color_r{background: #ff9933;}
#mc_embed_signup form {  padding: 0 !important;}
#mc_embed_signup input { border: none !important; border-radius: 0 !important;}
#mc-embedded-subscribe{ margin:0 !important;}
#mc_embed_signup #mce-success-response { color: #ffffff !important;}

.signupotp_bx{ padding-top:5px;display: block;}

.email_verify_section{ padding:50px 0; text-align:center;}
.email_verify_se_inner{    padding-bottom: 60px;}
.email_verify_se_inner h3{color: #01b4c4;    font-size: 30px;}
.login_coustomer_link{ padding-top:20px;}
.login_coustomer_link a{    display: inline-block; background: #33b3a6; padding: 12px 30px; color: #fff;font-size: 14px;  border-radius: 40px; font-weight: 500; transition: all 0.3s ease; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; }
.email_verify_resend_section{padding:50px 0;}
.email_resend_f_inp {    width: 50%; margin: 0 auto; text-align: left;}
/* .email_resend_f_inp {} */
.email_resend_f_inp input{    border: none; background: #f6f5f5;  padding: 14px 15px;  height: auto; font-size: 16px; font-weight: 500;  box-shadow: 3px 1px 4px #00000021;}

/* .email_resend_f_btn {} */
.email_resend_f_btn input{    width: auto; margin: 0 auto; font-size: 22px;  font-weight: 500; font-family: inherit; background: #33b3a6; height: auto; padding: 10px 30px;  min-width: 200px;  border-radius: 50px;  margin-top: 15px; margin-bottom: 10px; border: none; color: #fff;}

.eml_error{ text-align:center; color:red; padding-top:20px;}
.success_resend{text-align:center; color:green; padding-top:20px;}
.featured_upgrade_payment{ clear:both;}
.featured_upgrade_payment .sf-card-group, .featured_payment_section_after{margin: 20px 15px !important;}
#feature-bx .bootstrap-touchspin-up, #feature-bx .bootstrap-touchspin-down { padding: 6px 15px;}
#feature-bx .form-group span.input-group-btn{ display:none;}
.switcher .selected{     z-index: 99 !important;}

li.profile_message_chat_btn{border: none !important;  height: auto !important; vertical-align: middle;}
.feature-payment-form .has-feedback label~.form-control-feedback {
    top: 27px;
}
#view_feedback_inn, #add_feedback_inn{ cursor:pointer; display:block;    text-align: center;background: #33b3a6; padding: 8px 10px; margin-top: 10px;  color: #fff; font-size: 14px; border-radius: 40px;  font-weight: 500; transition: all 0.3s ease; -moz-transition: all 0.3s ease;  -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}



@media screen and (max-width:1920px){



}

@media screen and (max-width:1366px){



}

@media screen and (max-width:1350px){

 .prof_pr_top_tab_bar li a { padding: 13px 12px;  font-size: 16px;}

}


@media screen and (max-width:1250px){

.nav-menu li {  padding: 0 10px;}
.banner_se_inner > h2 { font-size: 40px;}
.banner_se_inner > ul { padding: 20px 0;}
.banner_se_inner > ul li { font-size: 17px;}
.h_service_se_bl_inner { width: 95%;}
.ah_newsletter_l_title h3 { font-size: 18px;}
.ah_newsletter_l_title {  padding-left: 18px;}
.swiper_blog_prev { left: 46%;}
.swiper_blog_next { right: 46%;}
.h_testmnl_arrow { bottom: 13px;}
.sn_signup_le_inner {  padding: 70px 90px 80px 40px;}
.sn_signup_customer .sn_signup_le_inner {  padding: 70px 40px 80px 90px;}
.lgn_provider_se_inner {width: auto;}
.search-form  .s_serach_ctegory_fild{width: 15%; margin: 0;}
.search-form .s_search_btn_sbm{width: 18%;  margin: 0;}

}

@media screen and (max-width:992px){

.nav-menu .sub-menu { transition: opacity 0.3s ease;  -webkit-transition: opacity 0.3s ease;    }
.menu_expand{display:block;}
.site-menu{ position:relative; min-height:1px; padding-top: 0px;margin-left: 20px;float:right;}
.nav-menu{display:block; position:fixed; top:0; left:-220px; bottom:0; z-index:10000; -webkit-transition:all 0.3s ease; transition:all 0.3s ease; opacity:0; visibility:hidden; overflow-y:auto}
.nav-menu.state-active{ clear:both; left:0; opacity:1; visibility:visible; margin:0;}
.nav-menu{float:none; text-align:center; margin-right:0px; background:#ffffff; width:100%; padding-top:80px;}
.nav-menu li{float:none; margin:0px; border-bottom:none; padding:0; display:block}
.nav-menu li a{padding:10px; color:#000;}
.nav-menu li a:hover{border-radius:0; background:none; color:#33b3a6; border-color: #fff;}
.expand_plus{position: absolute; right: 0; top: 0; width: 35px; height: 42px; padding: 25px 10px 2px;  cursor: pointer; z-index: 100;}
.expand_plus i{ display: block; position: relative; width: 12px; height: 10px; top: -8px;}
.expand_plus.active i{background-position:0px -190px}
.nav-menu .sub-menu .expand_plus{ height:34px}
.nav-menu .sub-menu, .nav-menu .sub-menu ul{width:auto; position:relative; display:none; visibility:visible; opacity:1; filter:alpha(opacity=100)}
.nav-menu .sub-menu li{    background: none; border-bottom: none;}
.nav-menu .sub-menu li:hover > a, .nav-menu .sub-menu ul li a{border:none}
.nav-menu .sub-menu.active-children{display:block}
.nav-menu .sub-menu ul{padding-left:0px;}
.nav-menu .sub-menu ul{left:0;}
.nav-menu .sub-menu ul li, .nav-menu .sub-menu ul li:first-child{border:none;}
.nav-menu .sub-menu ul:before{display:none;}
.nav-menu li a{text-align:left;}
.nav-menu .sub-menu li a:hover{border:none;}
.nav-menu .sub-menu ul li, .nav-menu .sub-menu ul li:first-child{background:none;}
.nav-menu .sub-menu li a{border:none;     padding: 8px 10px;}
/* .nav-menu .sub-menu ul{background:none;     -webkit-transform: translate(0);} */
.expand_plus active{top:100px;}
.expand_plus active i{ top:200px;}
.nav-menu .sub-menu ul li a{padding-left:40px;}
.nav-menu .sub-menu li:first-child{border-top:none;}
.nav-menu .sub-menu li a:hover {   color: #e7595c; background: none;}
.cross_button { margin-top: 20px; display: block; text-align: center; position: absolute; top: -10px; right: 25px;}
.cross_button a { font-size: 22px; color: #242323; cursor: pointer; border: 1px solid #242323; border-radius: 3px;  padding: 6px; display: inline-block; text-align: center; width: 40px;  height: 40px; line-height: 1.2;}
.menu_expand i {  height: 2px;  background: #33b3a6;  display: block;   width: 35px; border-radius:5px;}
.menu_expand i:nth-child(2) {    margin: 8px 0;}
/* .menu_expand i:nth-child(3) { } */


.menu_section {     background: #a0c8db; padding: 0px 0;}
.nav-menu > li > a{background:none;}
.nav-menu > li:hover > a{ background: none;}
.nav-menu > .menu-item-has-children > a:after{display: none}
.nav-menu > li > a{    border-bottom: none;}
.nav-menu > li:hover > a{    border-bottom: none;}
.nav-menu > li > a:hover:before{ display:none}
.nav-menu > li > a:hover:after{ display:none}
.expand_plus:after { margin-right: -2px; transform: translate(-50%, -50%) rotate(-135deg); content: ''; position: absolute; top: 50%; left: 50%;  width: 8px; height: 8px; margin-left: -2px; box-sizing: border-box;  border-top: 2px solid #000; border-left: 2px solid #000; transform-origin: center;}
.expand_plus.active:after { transform: translate(-50%, -50%) rotate(45deg);}

.banner_se_inner > h2 { font-size: 32px;    margin-bottom: 0px;}
.banner_se_inner > ul li { font-size: 13px;}
.h_banner_search_bar { padding-top: 5px;}
.h_service_section { padding: 60px 0;}
.h_service_block { width: 33.33%;margin-bottom: 30px;}
.h_service_block:nth-child(4n+1) {  clear: none;}
.h_service_block:nth-child(3n+1) {  clear: both;}
.h_service_ad_left, .h_service_ad_right{ display:none;}
.h_service_se_block { float: none; width: auto;}
.h_newsletter_right { padding: 30px 0;}
.h_new_la_sbmt { padding: 14px 20px;}
.h_newsletter_ri_inner  .h_new_la_inp { padding: 16px 20px !important;padding-left: 45px !important;  padding-right: 145px !important;}
.swiper_blog_next { right: 45%;}
.swiper_blog_prev { left: 45%;}
.h_testmnl_arrow {  bottom: -2px;}
.sng_sign_logo_middle{ display:none;}
.sn_signup_left {
    float: none;
    width: auto;
}
.sn_signup_customer {
    text-align: left;
}
.sn_signup_customer .sn_signup_le_inner {
    padding: 70px 90px 80px 40px;
}
.p_plan_block_inner h3 { font-size: 20px;}
.prf_pr_category {
    float: none;
    width: auto;
}
.prof_pr_social_med {
    float: none;
    width: auto;
    text-align: left;
}
.h_banner_search_bl_mobile{ display:block;background: #33b3a6;}
.h_banner_search_bl_desktop { display:none;}
.h_banner_search_block .sf-search-result .search-form{ margin:0;}
.sf-find-bar .search-col-4{    width: 100%;  margin: 5px 0;}
.search-form .s_serach_ctegory_fild, .s_search_country{  width: 100%; float: none; margin: 5px 0;    padding-left: 7.5px; padding-right: 7.5px; border-right:none;    clear: both;}
.search-form .s_search_btn_sbm {  width: 100%; margin: 0; margin-bottom: 20px;}
.sf-find-bar-inr .s_search_keyword{ width:100%; margin:5px 0;}
.process_img_left, .process_img_right{float:none; width:auto; text-align:left; margin-bottom:40px}
.process_right_text, .process_left_text{float:none; width:auto;}
.rightside_arrow span{right:auto; left:16%;}
.textsection_candidate{padding-top:0 !important;}
.process_section  .col-md-4{margin-top:70px;}
.process_no{top:-73px;}
.blue_bg_heading, .cprocess_text h2{font-size:25px;}
.employer_section{padding:90px 0;}


}

@media screen and (max-width:767px){

.logo { width: 25%;}
.top_right { padding-top: 10px; width: 70%;}
.banner_section .swiper-slide > img {  width: 200%; max-width: none;}
.banner_section{ overflow:hidden;}
.banner_se_inner > ul li:nth-child(odd) {  width:100%;}
.banner_se_inner > ul li:nth-child(even) { width:100%;}
.h_newsletter_left { padding-top: 10px; float: none; width: auto;}
.h_newsletter_right { float: none;  width: auto;}
.h_latest_blog_section { padding: 60px 0;}
.h_serv_title h2 {font-size: 34px;}
.swiper_blog_next { right: 42%;}
.swiper_blog_prev { left: 42%;}
.h_latest_blog_se_inner { padding-top: 10px;}
.h_testmon_left {  float: none; width: auto;}
.h_testmon_right { float: none; width: auto; padding-top: 20px;}
.h_testmnl_arrow { left: 40%;}
.f_footer_left { float: none;  width: auto; padding-right: 0;}
.f_footer_right { float: none; width: auto; padding-top: 30px;}
.h_service_se_bl_inner {  width: 100%;}
.sng_signup_title h2 { font-size: 32px;}
.sn_signup_le_inner, .sn_signup_customer .sn_signup_le_inner { padding: 40px;}
.sn_signup_le_inner h3 { margin-top: 0;}
.sng_signup_main { padding-bottom: 50px;}
.chicklet-list li { width: 100%;float: none;}
.padding-20 { padding: 0;}
.banner-inner-row.provider-banner-off {
    height: 200px;
}
.profile_bio_top_section { margin-top: -80px;}
.profile_ri_pr_title h2 {
    font-size: 26px;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 0px;
}
ul.provider-info li { border-right: none;}
ul.provider-info li:nth-child(2){    border-top: 2px solid #c5c5c5;}
.banner_section > img { width: 200%;  height: auto; max-width: none;}
.banner_se_inner > ul {  margin-left: 25px;}
.s_search_btn_sbm{ margin-bottom:20px;}
.h_banner_search_block { padding-bottom:20px;}

}

@media screen and (max-width:479px){

.site-menu { margin-left: 10px;}
.h_right_becum_btn a { padding: 10px 15px; font-size: 12px;}
.top_right { padding-top:7px; width: 75%;}
.menu_expand{    padding: 6px;}
.banner_se_inner > h2 { font-size: 22px;}
.banner_se_inner > ul li{ width:100%;}
.banner_se_inner > ul li:nth-child(odd) {  width: 100%;}
.banner_se_inner > ul li:nth-child(even) {  width: 100%;}
.banner_se_inner > ul { margin-left: 10px;}
.banner_section .swiper-slide > img {  width: 250%;}
.h_service_block { width: 50%; margin-bottom: 20px;}
.h_service_block:nth-child(3n+1) { clear: none;}
.h_service_block:nth-child(2n+1) { clear: both;}
.h_service_se_inner {padding-top: 0px;}
.h_serv_title h2{    margin-bottom: 20px;}
.h_featured_section { padding-bottom: 50px;}
.h_serv_title h2 { font-size: 30px;}
.ah_newsletter_l_img img{width: 45px;}
.h_newsletter_right { padding: 15px 0;}
.h_new_la_sbmt{ position:static;}
.h_newsletter_ri_inner  .h_new_la_inp { padding: 16px 20px !important;padding-left: 45px !important; padding-right: 35px !important; margin-bottom: 10px;}
.h_newsletter_ri_inner { text-align: center;}
.swiper_blog_next { right: 38%;}
.swiper_blog_prev { left: 38%;}
.h_testmon_right_inner { padding: 35px; padding-left: 75px;}
.h_testml_quot { left: 15px;}
.f_footer_logo {text-align: center;}
.sn_signup_le_inner h3 { font-size: 30px; margin-bottom: 20px;}
.lgn_provider_s_section .tabbable .tab-pane { padding: 5px;}
.h_top_login a { padding: 6px 12px;}
.profile_pr_img { float: none; width: auto;}
.profile_right_pr_content {  float: none; width: auto;}
.profile_ri_pr_title h2 { font-size: 40px;  color: #252525; margin-top:20px;}
.profile_ri_pr_title p { font-size: 16px; color: #252525;font-weight: bold; margin-bottom: 10px; min-height: 1px;}
.prov_ri_form_section .btn.btn-primary { font-size: 16px; padding: 15px 30px; min-width: 100px;}
.f_footer_social h3 { display: block;}
.h_top_language_inner .switcher{     width: 100px;}
.banner_section > img { width: 250%;}
.col-xs-1 { width: 100%;}
.cal-row-fluid .cal-cell1 { width: 50%;}
.form-control{ height:auto;}
.sf-nothing-found2 .sf-tilte, .sf-nothing-found2 .sf-tilte { font-size: 30px;}
.cprocess_no {  padding-right: 25px;}
.cprocess_no img{ width: 70px; }
.blue_bg_heading, .cprocess_text h2 { font-size: 19px;}
.h_top_se_left a { font-size: 12px;}
#mc-embedded-subscribe { margin: 0 auto !important; margin-top:5px !important;}
.lgn_login_se_inner {  width: 80%;}
.tabbable .nav-tabs li a {  padding: 10px 0px;}
.prof_pr_top_tab_bar li a {  margin-bottom: 1px; margin-right: 1px;}


}



