.add-custom-category {
    margin-top: 30px;
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.add-custom-category > div{
    margin-bottom: 0 !important;
}
.col-70{
    width: 70%;
}
.col-25{
    width: 25%;
}
