/*
Theme Name: Huslas Child
Description: Huslas Theme by ByteGrow
Template: huslas
Author: ByteGrow Team
Author URI: https://bytegrow.com/


*/

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
.woocommerce form.checkout .col2-set .col-2{
    display: none;
}
.woocommerce form.checkout .col2-set .col-1{
    width: 100%;
}
.btn.btn-renew:hover{
    background-color: #0b7781;
}